#content {
  float: left;
  background-color: #1a82f7;
  background-image: -moz-linear-gradient(100% 100% 90deg, #2f2727, #1a82f7);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2f2727));
  margin-left: 20%;
  padding-top: 200px;
  width: 60%; }

#menu {
  float: right;
  margin: 300px 3% 0 0;
  color: white;
  width: 17%; }

#resume-container {
  background-color: white;
  font-family: verdana, sans-serif;
  font-size: 11px;
  color: white; }
  #resume-container h1 {
    height: 100px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    padding-right: 60px;
    padding-top: 8px; }
  #resume-container h1 div {
    background: #1D7EB7;
    margin-left: 50%;
    border: medium solid black;
    height: 95px;
    width: 360px;
    padding: 8px 0px 0px 10px;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%; }
  #resume-container h1 p {
    font-size: 14px;
    margin-top: 5px;
    color: white;
    border: none; }
  #resume-container h2 {
    color: black;
    font-size: 20px;
    font-family: courier; }
  #resume-container .block {
    border: medium solid black;
    color: black;
    padding: 10px;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%; }
  #resume-container #block-1 {
    font-size: 13px;
    margin-left: 20px;
    background-color: #FF3030;
    width: 70%; }
  #resume-container #block-2 {
    margin-left: 130px;
    width: 80%;
    background-color: #90EE90; }
  #resume-container #block-3 {
    width: 60%;
    margin-left: 40px;
    background-color: #FBF354; }
  #resume-container #block-4 {
    margin-left: 150px;
    background-color: #AB82FF;
    width: 55%; }
  #resume-container ul {
    margin-top: 5px;
    margin-bottom: 5px; }
  #resume-container table {
    width: 100%; }
  #resume-container .colhead {
    font-weight: bold;
    width: 30%; }
  #resume-container #outline {
    height: 27.94cm;
    width: 21.59cm;
    border: black solid thin;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 20px; }
  #resume-container h3 {
    padding-top: 10px;
    padding-bottom: 8px;
    margin: 0px; }
  #resume-container td {
    width: 25%; }
  #resume-container .right {
    float: right; }
