%h2 Hi,
%p   I am a computer scientist currently focusing on web development using Ruby on Rails.  I love sports, travel, outdoor activities, and music.  If you want more specifics about what I like to do or listen to and some relevant links you should check out the "Things I'm Interested In" section.  Since this is my first personal website, I am going to try to make it 100% true to myself, so you can expect me to blog not just about development and startups, but also general observations, my interests, music and movie reviews, tirades about Ron Artest, that kind of stuff.  I will have some tagging and filters so you can see only the posts that interest you.

:javascript
	$(ContentColors('#2163ad', '#FFD39B', 'black'));
