%h2 Music
%p My tastes in music have wandered and grown since I first started listening to it.  I'll basically listen to anything except an accordion, and that includes bagpipes.  Recently I've also started playing around with some freestyle.  I'm not putting anything online yet, but maybe I will at some point.  So get your hopes up!  I'll probably do some CD reviews of new stuff that comes out, and here are the CD's I've been listening to recently.
%ul
	%li 
		= link_to 'How I got over', "http://www.amazon.com/How-I-Got-Over-Roots/dp/B0029LX2LC/ref=sr_1_1?ie=UTF8&s=music&qid=1277966155&sr=1-1" 
		The Roots
	%li 
		= link_to 'Recovery', "http://www.amazon.com/Recovery-Eminem/dp/B003KUSUG8/ref=sr_1_1?ie=UTF8&s=music&qid=1277966060&sr=1-1"
		Eminem
	%li 
		= link_to 'Distant Relatives', "http://www.amazon.com/Distant-Relatives-Nas/dp/B0039ZF8D2/ref=sr_1_1?ie=UTF8&s=music&qid=1277965954&sr=8-1" 
		Nas and Damien Marley

%h2 Ultimate Frisbee
%p I started playing Ultimate my senior year of high school, when most of my friends on the tennis team decided to quit tennis and play frisbee instead.  I continued to play four year in college with Mr. Yuk, leading to some of the best times I had in Pittsburgh.  I'm on a break letting my body rest up but if you ever want to throw, play pick-up, or talk ultimate I am there.

%h2	Yoga
%p I started doing yoga basically when Jeremy, my boss at StarStreet, introduced me to it at Baptiste Power Yoga in Porter Square.  Now I try to do it every day at home, though my laziness does not always permit it.  Yoga can energize me for the day in the morning, it can ease stress in the afternoon, it can stretch and relax after a long day.  Yoga enhances strength through balance and flexibility.  Sometimes in the middle of a class I'm asking myself why oh why did I come today, but I always leave feeling better than when I entered, even if I'm exhausted. You can't say that about many workouts, I recommend it.

%h2 Snowboarding
%p I have been snowboarding for about 4 seasons now.  I don't have much to say about it except that it's awesome.  But its definitely not for everyone, I promise I will never try to get my mom on a snowboard.  This summer I've been missing snowboarding so much that I started skateboarding.  I've been learning to ollie, you'll see videos soon.

%h2 Boston Sports Teams
%p Yes I'm a die hard Boston sports fan.  Go Sox, Go Pats, Go Celts, Go Bruins. I haven't gone to many games but I've been to a few memorable ones.  Here they are:
%ul
	%li 2004 Playoffs Lebron Dunk
	%li Baseball Papi homers high scoring game
	%li 2010 shrek / donkey game
%p Here are two of my favorites plays in Boston history:
%ul
	%li Pedro Martinez vs. Don Zimmer
	%li Rondo diving play
:javascript
	$(ContentColors('#ff3100', '#000000', '#cecece'));