%h2 Music
%p My tastes in music have wandered and grown since I first started listening to it.  I'll basically listen to anything except an accordion, and that includes bagpipes.  Recently I've also started playing around with some freestyle.  I'm not putting anything online yet, but maybe I will at some point.  So get your hopes up!  I'll probably do some CD reviews of new stuff that comes out, and here are the CD's I've been listening to recently.
=link_to image_tag('../images/pages/interests/howigotover.jpg', :width => 150), "http://www.amazon.com/How-I-Got-Over-Roots/dp/B0029LX2LC/ref=sr_1_1?ie=UTF8&s=music&qid=1277966155&sr=1-1" 
=link_to image_tag('../images/pages/interests/recovery.jpg', :width => 150), "http://www.amazon.com/Recovery-Eminem/dp/B003KUSUG8/ref=sr_1_1?ie=UTF8&s=music&qid=1277966060&sr=1-1"
=link_to image_tag('../images/pages/interests/distantrelatives.jpg', :width => 150), "http://www.amazon.com/Distant-Relatives-Nas/dp/B0039ZF8D2/ref=sr_1_1?ie=UTF8&s=music&qid=1277965954&sr=8-1" 
=link_to image_tag('../images/pages/interests/troubador.jpg', :width => 150), "http://www.amazon.com/Troubadour-Knaan/dp/B001L2I27O" 
=link_to image_tag('../images/pages/interests/bigboi.jpg', :width => 150), "http://www.amazon.com/Lucious-Left-Foot-Chico-Dusty/dp/B003FGWSL0" 

%h2 Ultimate Frisbee
%p I started playing Ultimate my senior year of high school, when most of my friends on the tennis team decided to quit tennis and play frisbee instead.  I continued to play four year in college with Mr. Yuk, leading to some of the best times I had in Pittsburgh.  I'm on a break letting my body rest up but if you ever want to throw, play pick-up, or talk ultimate I am there.

%h2	Yoga
%p I started doing yoga basically when Jeremy, my boss at StarStreet, introduced me to it at Baptiste Power Yoga in Porter Square.  Now I try to do it every day at home, though my laziness does not always permit it.  Yoga can energize me for the day in the morning, it can ease stress in the afternoon, it can stretch and relax after a long day.  Yoga enhances strength through balance and flexibility.  Sometimes in the middle of a class I'm asking myself why oh why did I come today, but I always leave feeling better than when I entered, even if I'm exhausted. You can't say that about many workouts, I recommend it.

%h2 Snowboarding
%p I have been snowboarding for about 4 seasons now.  I don't have much to say about it except that it's awesome.  But its definitely not for everyone, I promise I will never try to get my mom on a snowboard.  This summer I've been missing snowboarding so much that I started skateboarding.  I've been learning to ollie, you'll see videos soon.

%h2 Boston Sports Teams
%p Yes I'm a die hard Boston sports fan.  Go Sox, Go Pats, Go Celts, Go Bruins. I haven't gone to many games but I've been to a few memorable ones.  Here they are:

%h3 2004 Playoffs Lebron Dunk over KG
<object width="500" height="300"><param name="movie" value="http://www.youtube.com/v/siNxz63BHec&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/siNxz63BHec&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="500" height="300"></embed></object>
%h3 Red Sox 19-17 Rangers, August 12, 2008
%p In this game Big Papi hit two three run home runs in the first inning as the Sox took a 10-0 lead. The Rangers would rally in a big way to eventually take the lead, until Youkalis blasted his own second home run in the 8th inning.  One of the wildest games of the season for sure.
%h3 2010 Celtics Finals Game 4
<object width="500" height="300"><param name="movie" value="http://www.youtube.com/v/n8VwugosKDU&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/n8VwugosKDU&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="500" height="300"></embed></object>
%p This game is actually most memorable for the press conference afterwards, where Nate Robinson declared himself and Big Baby to be "Just like Shrek and Donkey, best friends."  Classic.  A tight game but we pulled through, only to come up a shot short in game 7. By the way if I could pick one person to take a game winning shot on the Lakers it would be Ron Artest hands down every time.  The dude plays terrible offense all series, hogs the ball when he's looking for a play, and can't find the basket to save his life, but the one time they really need him he comes through.  And he did it in that other game, where Kobe AIRBALLED the last shot right into his hands for a put back.  I hate Ron Artest.  And never say the name David Tyree around me.  Wow, clearly the wounds from this series haven't healed.

%h2 Here is my favorite Boston sports moment:
%h3 Pedro Martinez vs. Don Zimmer
<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/0zKW2KRp1V0&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/0zKW2KRp1V0&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>


:javascript
	$(ContentColors('#ff3100', '#000000', '#cecece', '#abcabc', 'yellow', 'red'));