#resume-container 
	.outline
		%h1
			%div 
				Yakov Rabinovich
				%p
					76 Barton Drive Sudbury, MA 01776<br/>
					Cell: 978-502-4661<br/>
					yakov.rabinovich@gmail.com
		%h2 Profile
		#block-1.block
			I am a computer scientist focusing on web development.  I have excellent analytical and problem solving skills, and am able to discuss complicated concepts clearly. I am a U.S. citizen fluent in English and Russian, with some knowledge of Spanish.  I love facing new challenges every day and am looking for a project to get excited about.
		%h2 Experience
		#block-2.block
			%h3
				%span StarStreet, Developer
				%span.right September 2009 to May 2010
			StarStreet is a Cambridge startup that is building an online sports stock market.  I joined as the first developer and contributed heavily at all levels, from the DB and business logic to the front end design and implementation.  I made rapid progress using Ruby on Rails, JQuery, SQL, and HTML/CSS.  StarStreet participated in the TechStars incubator program, through which I had access to amazing mentors and entrepreneurs who vastly expanded my understanding of marketing and business strategies relevant for startups.
			%h3 
				%span HP - Software Developer / QA
				%span.right 2007 to 2008
			During my time at Hewlett-Packard I participated in the development cycle of the Storage Essentials product.
			%ul
				%li In 2007 I designed java utilities to graphically interpret log files for performance analysis.
				%li In 2008 I worked with the QA team. I set up an automated JUnit testing suite that ran overnight and e-mailed the test results to the team. I also wrote and maintained many of the tests.

			%h3 
				%span Teacher’s Assistant – Carnegie Mellon University
				%span.right Spring 2007
			I worked as a teaching assistant for "Concepts of Mathematics", a course introducing informal logic and the methods of mathematical proof.

		%h2 Key Skills
		#block-3.block
			%table
				%tr
					%td.colhead Computer Languages:
					%td
						%ul
							%li Ruby on Rails
							%li Java
							%li HTML
					%td
						%ul
							%li JQuery
							%li Javascript
							%li CSS							
					%td 
						%ul 
							%li C#
							%li C++
							%li C
				%tr
					%td.colhead Computer Skills:
					%td 
						%ul 
							%li Windows
							%li OS X
							%li Linux/Unix	
					%td 
						%ul 
							%li MS Office
							%li MS Outlook

		%h2 Education
		#block-4.block
			%h3 Carnegie Mellon University
			%ul 
				%li BS in Computer Science with a Minor in Mathematics
		
			%h3 Lincoln-Sudbury Regional High School – Sudbury, MA
			%ul 
				%li SAT I Score: 1580/1600