%h2 Current Projects

%h3 This Website
%p I have built this website using Ruby on Rails 3.0.4beta and am using it to connect with whoever is reading and also experiment with new ideas, gems, plugins, whatever.  The other stuff I have used in building this site:
%ul	
	%li= link_to 'JQuery', 'http://jquery.com/'
	%li= link_to 'RSPec', 'http://rspec.info/'
	%li= link_to 'Cucumber', 'http://cukes.info/'
	%li= link_to 'Haml/Sass', 'http://haml-lang.com/'

%h2 Past Projects
%h3 StarStreet
%p From September 2009 to May 2010 I worked for StarStreet, a Cambridge MA startup.  StarStreet is reinventing the way people interact with sports by building a sports stock market.  I did some very interesting work with StarStreet, learning Rails as I went, and they're a great team with amazing vision.  I could talk about the site a lot and will share some of what I learned in future blog posts, but for now I recommend you get over there and start trading!

:javascript
	$(ContentColors('#5a4a7b', '#f7ef95', '#42bd42', '#f7ef95', 'pink'));